body {
    font-family: 'Roboto', sans-serif;
}

.dropdown-item {
    background-color: rgb(231, 231, 231);
    transition: 0.2s ease;
}

.dropdown-item:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.08);
}

.btn-primary {
    margin: 2px;
}

.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    max-width: 850px;
    width: 100%;
    max-height: 600px;
    height: 100%;
}

.text-center {
    margin-bottom: 60px;
}